.container {
    height: 100%;

    border-radius: 20px;

    display: flex;
    align-items: center;
    gap: 24px;
}
.container.bordered {
    border: 1px solid var(--gray);
}
.container.selected {
    border: 1px solid var(--primary);
    background: rgba($color: #1677ff, $alpha: 0.05);
}
.container.onSelect {
    cursor: pointer;
    position: relative;
}
.check {
    position: absolute;
    top: -6px;
    right: -6px;
    font-size: 22px;
}
.imageWrapper {
    height: 64px;
    flex: 0 0 64px;
}
.imageWrapper .image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.petInfo {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}
.name {
    text-wrap: nowrap;
}
.actions {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
