.container {
    height: 100%;

    border-radius: 20px;

    display: flex;
    align-items: flex-end;
    gap: 24px;
}
.container.bordered {
    border: 1px solid var(--gray);
}
.container.selected {
    border: 1px solid var(--primary);
    background: rgba($color: #1677ff, $alpha: 0.05);
}
.container.onSelect {
    cursor: pointer;
    position: relative;
}
.container.error {
    border: 1px solid red !important;
}
.childAdditionalInfo {
    display: flex;
    flex-direction: column;
}
.adInfoItem > b {
    margin: 0px 4px 0px 0px;
}
.kind {
    display: block;
    margin: 12px 0px 0px 0px;
}
.check {
    position: absolute;
    top: -6px;
    right: -6px;
    font-size: 22px;
}
.imageWrapper {
    height: 64px;
    flex: 0 0 64px;
}
.imageWrapper .image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.childInfo {
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
}
.name {
    display: block;
    text-wrap: wrap;
}
.actions {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
