.petContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(352px, 1fr));
    gap: 12px 24px;
}

.actions {
    margin: 24px 0px 0px 0px;
}
.formTitle {
    margin: 20px 0px 8px 0px !important;
}
@media screen and (max-width: 960px) {
    .actions {
        width: 100%;
    }
    .button {
        width: 100%;
    }
}
